.parent-schedule {
  padding: 5vh 10vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.parent-schedule::before {
  content: " ";
  position: absolute;
  inset: 0;
  z-index: -97;
  background-size: contain;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12'%3E%3Cpath d='M9.8 12 0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z' fill='%239C92AC' fill-opacity='.26' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.parent-schedule::after {
  content: " ";
  position: absolute;
  inset: 0;
  z-index: -99;
  opacity: 0.1;
  background-color: #6a5acd;
  /* background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12'%3E%3Cpath d='M9.8 12 0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z' fill='%239C92AC' fill-opacity='.26' fill-rule='evenodd'/%3E%3C/svg%3E"); */
}
.schedule-title {
  margin: 5vh 0vw;
  font-size: 5vw;
  font-family: mars;
  font-weight: bold;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* background-color: #6b0f1a;
  background-image: linear-gradient(315deg, #6b0f1a 0%, #b91372 74%); */

  background-image: linear-gradient(
    to right top,
    #e84393,
    #e84393,
    #e84393,
    #e84393,
    #e84393,
    #8c2f57,
    #e84393,
    #e84393,
    #e84393,
    #e84393,
    #e84393,
    #e84393
  );
}

.timeline {
  position: relative;
}

.timeline::after {
  content: " ";
  position: absolute;
  z-index: -2;
  top: 1vh;
  left: 50%;
  border-left: 2px solid slateblue;
  height: 170vh;
}
.timeline .container {
  background-color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2vh;
  max-width: 45%;
  clear: both;
  box-sizing: border-box;
  padding: 3vh 1.5vw;
  border: 1px solid slateblue;
  border-radius: 1vw;
  box-shadow: 1vw 1vw 1vw 0vw black;
  margin-bottom: 3vh;
}

.timeline div:nth-child(even) {
  left: 55%;
}

.container .date {
  font-family: Audiowide;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 1.3vw;
  font-weight: bolder;
  width: fit-content;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    to right,
    rgba(91, 14, 216, 0.767),
    rgba(238, 12, 200, 0.747)
  );
}

.container .container-title {
  text-align: center;
  position: relative;
  padding: 0.5vh 1vw;
  border: 1px solid slateblue;
  width: fit-content;
  border-radius: 1vw;
  color: black;
  font-weight: 700;
  text-transform: uppercase;
  font-family: Audiowide;
  letter-spacing: 2px;
  font-size: 1.2vw;
  overflow: hidden;
  isolation: isolate;
}
.container-title::after {
  content: " ";
  position: absolute;
  z-index: -1;
  inset: 0;
  background-image: linear-gradient(
    to right,
    rgba(91, 14, 216, 0.767),
    rgba(238, 12, 200, 0.747)
  );
}

.timeline .container .container-description {
  text-align: justify;
}
.circle {
  position: absolute;
  background-color: rgb(220, 0, 240, 0.4);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  top: 0;
}

.circle::after {
  content: " ";
  padding: 0.5vw;
  background-color: rgb(106, 6, 236);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.timeline div:nth-child(odd) .circle {
  right: 0;
  transform: translateX(4.9vw);
}

.timeline div:nth-child(even) .circle {
  left: 0;
  transform: translateX(-4.7vw);
}
