.parent-footer {
  background-color: rgb(0, 0, 0);
  border-radius: 0.5vw 1vw 0 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0.5vh 3vw;
}
.copyright p {
  cursor: pointer;
  text-decoration: underline;
  color: #d500ed;
}
.copyright {
  padding-top: 1vh;
  padding-bottom: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1vw;
  font-size: 1vw;
  color: slategrey;
  font-weight: 400;
  font-family: press start 2p;
  @media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
    font-size: 2vw;
    gap: 0.5vw;
  }
}
.copyright-icon {
  width: 15px;
  height: 100%;
  @media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
    width: 15px;
  }
}
