@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Poppins&display=swap&family=Fira Sans Condensed&family=Fira Code");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@font-face {
  font-family: mars;
  src: url(/fonts/mars/Mars.ttf);
}
@font-face {
  font-family: "Lorem Ipsum";
  src: local("Lorem Ipsum Regular"),
    url("/fonts/LoremIpsum.woff") format("woff");
}
@font-face {
  font-family: blanka;
  src: url(/fonts/blanka.otf);
}
@font-face {
  font-family: technology;
  src: url(/fonts/technology/Technology.ttf);
}
html,
body {
  /* overflow-x: hidden; */
  scroll-behavior: smooth;
  /* height: 100vh; */
}

* {
  margin: 0;
  padding: 0;
  font-family: poppins;
}

.bg {
  position: relative;
  isolation: isolate;
  height: 100vh;
  /* background-image: url("/images/development.png"); */
  background-repeat: no-repeat;
  background-size: cover;
}
.bg::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  /* background: black; */
}
